.section1 { 
  width: 640px;
  margin-left: 32px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
}
.video_snippet .title {
  font-weight: 500;
  margin-top: 24px;
}
.video_snippet .meta {
  color: var(--text-grey);
  font-size: 14px;
  margin-top: 16px;
}
hr {
  margin: 20px 0;
}
.video_desc_container {
  display: flex;
}
.video_desc_container > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}
.video_desc_meta .channelTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}
.video_desc_meta .description {
  font-size: 14px;
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.desc_btn {
  background: none;
  border: none;
  outline: none;
  color: var(--text-grey);
  font-weight: 500;
  font-size: 12px;
  margin-top: 16px;
  cursor: pointer;
}
.comment_sort {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.comment_sort > button { 
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
}
.comment_sort > button > img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.comment {
  display: flex;
  margin-bottom: 28px;
}
.comment > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
.comment .comment_meta .author {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  display: inline-block;
}
.comment .comment_meta .publishedAt {
  font-size: 12px;
  color: var(--text-grey);
}
.comment_meta .userComment {
  font-size: 14px;
}